body {
	background-image : url("./fukuju024.jpg");
	background-position: right top;
	background-repeat: no-repeat;
	background-color:#FFFFFF;
}

img{
    border-style:none
}
#whatsnew{
overflow: auto;
width:600px;
height: 90px;
}